DATABASE_URL=postgresql://postgres:postgres@postgres:5432/avensio?schema=public
JWT_ACCESS_SECRET=super_secret_access_key_32_chars_min
JWT_REFRESH_SECRET=super_secret_refresh_key_32_chars_min
S3_ENDPOINT=http://minio:9000
S3_BUCKET=products
YOOKASSA_SHOP_ID=shop_id
YOOKASSA_SECRET_KEY=secret
YANDEX_MAPS_API_KEY=key
CDEK_CLIENT_ID=id
CDEK_CLIENT_SECRET=secret
REDIS_URL=redis://redis:6379
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=key
